<header class="filmz-dark-bg">
		<!-- NAVIGATIONS -->
		<nav id="topNav">
			<div id="topNavSec" style="justify-content : end;">
				<ul id="myTopnav">
					<li id="resMenu" class="icon"><a href="javascript:void(0);">&#9776;</a></li>
				</ul>
			</div>
			<div id="navHolder" class="topnav">
				<ul class="topnav">
					<li><a href="/">HOME</a></li><hr class="navrul"/>
					<li><a href="/musics">MUSIC</a></li><hr class="navrul"/>
					<li><a href="/videos">VIDEOS</a></li><hr class="navrul"/>
					<li><a href="/news">NEWS</a></li><hr class="navrul"/>
					<li><a href="/news">DASHBOARD</a></li><hr class="navrul"/>
					<li><a href="/news">SETTINGS</a></li>
				</ul>
			</div>
        </nav>
	</header>